.product-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: $card_width;
  margin: 0 $card_margin/2 50px;
  padding: 0 14px 15px;
  border: 1px solid $card_border;
  border-radius: 5px;
}

.product-card__image {
  content: url(/images/imac.jpeg);
  width: 160px;
  height: 134px;
  margin: 30px auto 0;
  border: 3px solid transparent;
  border-radius: 5px;
  transition: transform 1000ms;
}

.product-card__image:hover {
  border-color: $card_border;
  transform: scale(1.2);
  padding: 15px 0 0;
  margin: 15px 2px 0;
}

.product-card__description {
  font-weight: 500;
  font-size: $font-size-h3;
  line-height: 15px;
  margin-top: 45px;
  margin-bottom: 6px;
}

.product-card__code {
  font-weight: 400;
  font-size: $text_size_normal;
  line-height: $line_height_normal;
  margin-bottom: 14px;
}

.product-card__rating {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 15px;
  margin-bottom: 19px;
}

.product-card__response-count {
  font-weight: 400;
  font-size: $text_size_normal;
  line-height: $line_height_normal;
}

.product-card__price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.product-card__price-title {
  font-size: $text_size_normal;
  line-height: $line_height_normal;
}

.product-card__price-value {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.product-card__buy-button {
  display: flex;
  border: 1px solid $moyo_color;
  justify-content: center;
  align-items: center;
  background: $moyo_color;
  border-radius: 5px;
  width: 170px;
  height: 40px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 250ms, background-color 250ms;
}

.product-card__buy-button:hover {
  background-color: #fff;
  color: $moyo_color;
  cursor: pointer;
}
